/node_modules
/public/hot
/public/storage/characteristics
/public/storage/indicator-values-exports
/public/css/app.css
/public/js/app.js
/storage/*.key
/storage/**/*.index
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.Rproj.user
*.RData
*.Rhistory
/scripts/Rscript/.Rproj.user
/scripts/Rscript/.Rhistory
/scripts/Rscript/.RData
/scripts/Rscript/.Ruserdata
/scripts/Rscript/PDF-Report-Script.pdf
**/~$*.docx
*.DS_Store