/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/js/app.js
/storage/*.key
/storage/**/*.index
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.Rproj.user
*.RData
*.Rhistory
/scripts/Rscript/.Rproj.user
/scripts/Rscript/.Rhistory
/scripts/Rscript/.RData
/scripts/Rscript/.Ruserdata
/scripts/Rscript/PDF-Report-Script.pdf
**/~$*.docx
*.DS_Store
/public/docs
.idea
/resources/lang/VueTranslationPlaceholder.php
/resources/lang/DbTranslationPlaceholder.php
/resources/js/translations.json
/resources/lang/.translation_io
/resources/lang/gettext/es/LC_MESSAGES/app.mo
/resources/lang/gettext/es/app.po
