// Fonts
@import url('https://fonts.googleapis.com/css?family=Roberto');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '../../public/packages/line-awesome/scss/line-awesome';

// Components
@import './components/SelectWithImages';


h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

.pt-lots {
    padding-top: 100px;
}

.px-lots {
    padding-left: 20%;
    padding-right: 20%;
}

.full-height {
    min-height: 100vh;
}

.sidebar {
    min-width: 250px;
}

.dark-gradient {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), #011627e3);
}

.btn-flush {
    border-radius: 0;
}

.padded-checkbox-group .custom-checkbox {

    margin: 0.5em 0 0.5em 2em;

    label {
        padding: 0em 3em 0em 0;
    }
}